
.collection-links {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 576px) {
    .collection-links {
        justify-content: space-around;
    }
}
.collection-link {
    width: 360px;
    height: auto;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 3px 3px 5px #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    transition-duration: 0.3s;
    margin-bottom: 1.5rem;
    /* display: flex; */
    flex-direction: column;
}
.card-name {
    display: block;
    position: relative;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #e6e5f8;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}
.link-content {
  text-align: left;
}